/* This is our main app styles in one place. */
@font-face {
  font-family: "UKNumberPlate";
  src:  local('UKNumberPlate'),
        url(/assets/fonts/UKNumberPlate.ttf);
  font-weight: bold;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 60vw;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
/*   background-color: green */
}
 
.wrapper .top-wrapper {
  min-height: 50vh;
/*   background-color: red */
}

.top-wrapper header.app-header {
  width: 100%;
  margin: 10px 0 40px 0;
  background-color: #000;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center
}

.top-wrapper .plate-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-wrapper .plate {
  margin: auto;
  height: 24vh;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  width: 80%;
  background: orange;
}

/* .plate img {
  height: 100%;
  border: 1px solid #999;
  flex-grow: 1;
  align-self: center;
  min-width: 150px;
  z-index: 999
} */

.plate #reg-number {
  flex-grow: 2;
  text-align: center !important;
  align-self: center;
  text-justify: distribute;
  white-space: nowrap;
  line-height: 2.5em;
  font-size: 6.5em;
}

.bordered {
  border: 10px solid transparent;
  box-shadow: inset 0 0 0 10px black;
}

.top-wrapper .plate-settings {
  display: flex;
  margin-top: 3em;
 justify-content: space-evenly;
 align-items: start;
  min-height: 80px;
}

.plate-settings > select{
  width: 200px;
  order: 1
}

.plate-settings > div {
  display: flex;
  flex-flow: column;
  width: 200px;
  order: 2
}

.plate-settings > label.bordered{
  width: 200px;
  order: 3;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  text-align: center;
}

form.order-details {
  display: grid;
  justify-content: space-around;
  background-color: #e2e2e2;
  margin: 20px 0;
}

form.order-details > p, .customer-details, .shipping-details {
  padding: 10px;
  display: flex;
  flex-flow: column;
  flex: 1;
}

form.order-details > div {
  display: flex;
  flex-flow: row;
}

form h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #000;
  color: white;
  padding: 10px 0;
  border-top: 1px solid #dbdbdb
}

@media screen and (max-width: 414px) {
  .wrapper {
    margin: 0 auto;
    max-width: 100vw
  }
  
  .top-wrapper {
    width: 100vw !important;
    height: -moz-max-content;
    min-height: -moz-fit-content;
  }
  
  .plate #reg-number {
    line-height: 2.5;
    font-size: 4.5rem;
    column-count: 1
  }
  
  .top-wrapper .plate {
    border-radius: 10px;
    height: 12vh;
  }
  
  .bordered {
    border: 5px solid transparent;
    box-shadow: inset 0 0 0 5px black;
  }
  
  .plate-settings {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas: "a b" "c c"
  }
  
  .plate-settings select {
    grid-area: a;
  }
  .plate-settings label {
    line-height: 2;
    grid-area: b;
  }
  
  .plate-settings div {
    grid-area: c;
    width: 100%
  }
  
  .plate-settings label #bordered {
    width: auto;
  }
  
  form.order-details > div {
    display: unset;
  }
}